body {background-color:#f0f8fb!important;text-decoration:none;}

.header {
background-color:#ddd;
color:#000;
width:100%;
padding:3px;
margin:0px;
}

.main { 
background-color:#fff;
color:#000;
width:100%;
text-shadow:1px 0px 0px #ddd;
padding:6px;
margin:0px;
box-shadow: 2px 9px 8px #ccc;
}
a {text-decoration:none!important;}